<!--------ALL MODELS BINDING DEPENDENCIES COMING FROM _VIEWIMPORTS.CSHTML------->
@*@model IEnumerable<eBook.Models.BookModel>*@

@{
    ViewData["Title"] = "All Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="display-4">All books</h3>
<div class="row">

    @foreach (var book in Model)
    {
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img src="https://picsum.photos/seed/picsum/200/300" style="height:200px;" alt="" />
                <div class="card-body">
                    <h3 class="card-title">@book.Title</h3>
                    <p class="card-text">@book.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a asp-action="BookDetails" asp-controller="book" asp-route-id="@book.Id" asp-fragment="similarBooks"
                               class="btn btn-sm btn-outline-secondary">View details</a>
                        </div>
                        <small class="text-muted">@book.Author</small>
                    </div>
                </div>
            </div>
        </div>}


</div>