.home-body-book-section{
    padding: 50px 25px;
    background-color: #eee;
}
.home-body-book-section .card img{
    height:250px !important;
}

.book-details-section .carousel-inner img{
    height:300px !important;
}

.book-details-section .card img {
    height: 250px !important;
}